figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  border: 2px solid transparent;
  background-color: rgb(184, 184, 255);
}

figcaption {
  width: 23ch;
  text-align: center;
  padding: 1rem 0rem;
}

figcaption a {
  text-decoration: none;
  color: black;
}

figcaption a:hover {
  opacity: 0.8;
}

figure img:hover {
  opacity: 0.8;
  transition: all 0.4s;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

nav ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
}